doctype html
html
	head
		title= "Real time web chat"
		
		<link rel="stylesheet" href="css/style.css">
		
	body
		
		//- .controls
		//- 	<input style="width:350px;" id="field" class="field">
		//- 	<input type="button" id="send" class="send"/>
		//- <a href="#" onclick="fb_login();"><div class="button" id="facebooklogin"><p style="text-align:center">Log in with facebook</p></div></a>
		<div id="fb-root"></div>
		<a id="login-btn" href="#" onclick="fb_login();"><div class="button" id="facebooklogin"><p style="text-align:center">Log in with facebook</p></div></a>
		<div class="container">

		
		</div>
		
		script(src='/socket.io/socket.io.js')
		script(src='libs/jquery.js')
		script(src='/client.js')