doctype html
html
	head
		title= "Real time web chat"
		
		<link rel="stylesheet" href="css/style.css">
		
	body
		
		#fb-root

		a#login-btn(href="#", onclick="fb_login();")
			.button#facebooklogin
				p Log in with facebook


		.container
			#request-help
				p This is a help message!
				a#submit-btn(href="#") Help!

		#post-container		

		
		
		script(src='/socket.io/socket.io.js')
		script(src='libs/jquery.js')
		script(src='/client.js')