doctype html
html
	head
		title= "Real time web chat"
		
		<link rel="stylesheet" href="css/style.css">
		
	body

		#content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
		.controls
			<input style="width:350px;" id="field" class="field">
			<input type="button" id="send" class="send" value="name"/>
			<input type="button" id="post" class="send" value="Post Help"/>

		
		#fb-root

		a#login-btn(href="#", onclick="fb_login();")
			.button#facebooklogin
				p Log in with facebook


		.container
			#request-help
				p This is a help message!
				a#submit-btn(href="#") Help!

		#post-container		

		
		
		script(src='/socket.io/socket.io.js')
		script(src='libs/jquery.js')
		script(src='/client.js')

